* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  padding-top: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}
.header-menu {
  display: flex;
  gap: 40px;
  padding-right: 320px;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-link:hover,
.Contacts-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.hero-wrap {
  background: #2e2f42;
  padding-top: 188px;
  padding-left: 315px;
  padding-right: 315px;
  padding-bottom: 294px;
}
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 56px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px;
  width: 169px;
  height: 56px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero-btn:hover {
  background: #404bbf;
}
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-item {
  position: 24px;
  display: flex;
  gap: 24px;
}
.features-list {
  width: 264px;
  height: 104px;
}
.features-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 9px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  height: 72px;
}
.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 80px;
}
.team-list {
  display: flex;
  gap: 24px;
  width: 264px;
  height: 380px;
}
.team-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
}
.team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-top: 16px;
}
.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-portfolio-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 80px;
}
.our-portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 50px;
  flex-direction: column;
}

.portfolio-page {
  display: flex;
  flex-direction: row;
  gap: 50px 24px;
}
.portfolio-pages {
  display: flex;
  flex-direction: row;
  gap: 50px 24px;
}
.our-portfolio-item {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-wrap {
  background: #2e2f42;
  padding-top: 100px;
  padding-left: 0;
  padding-bottom: 100px;
  padding-right: 864px;
}

.footer-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-icon-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  max-height: 112px;
}
